
/*
DIALOG
-----
Functional styling for a reusable dialog pop-up
*/

// Global scroll behaviour
.is--dialog-open {
  overflow: hidden;

  body {
    overflow: hidden;
  }

  &.is-touch {
    position: fixed;

    body {
      position: fixed;
    }
  }
}

.e-dialog {
  display: flex;
  // height: 100%;
  justify-content: center;
  left: 0;
  margin-top: 85px; // correction for site-header
  opacity: 0;
  overflow: auto;
  pointer-events: none;
  position: fixed;
  visibility: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  @include z(dialog);
}

// Panel - holds dialog content
.e-dialog__panel {
  background-color: $white;
  height: auto;
  max-width: 95vw;
  opacity: 0;
  padding: $spacing-l;
  position: relative;
  transform: scale3d(.9, .9, .9);
  transition: .15s $ease-in-out-quad;
  transition-property: transform opacity;
  width: 100%;
  z-index: 1;

  @include breakpoint(m) {
    max-width: 66vw;
  }

  @include breakpoint(l) {
    max-width: 720px;
  }
}

// Separate background element for animation and z-index purposes
.e-dialog__background {
  background-color: $grey-50;
  bottom: 0;
  height: 100%;
  left: -100%;;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .15s $ease-in-out-quad;
  width: 100%;
  z-index: 0;
}

// dialog is showing
.is-active {
  opacity: 1;
  pointer-events: all;
  transition-property: opacity;
  visibility: visible;

  .e-dialog__panel {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  .e-dialog__background {
    left: 0;
    opacity: .5;
  }
}


.e-dialog__button-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
