
.o-site-header {
  align-items: center;
  background-color: $purple-50;
  display: flex;
  justify-content: center;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  @include z(siteHeader);

}

.o-site-header__logo {
  max-height: 60px;
  max-width: 88px;
}